[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ldap3 = ">=2.3"
six = ">=1.10"
Flask = ">=0.12"

[dev-packages]
docker = "*"
pytest = "*"
coverage = "*"
pathlib2 = "*"
